<div class="table">
	<div class="board">
		<div class="card" *ngFor="let card of game.board" [style.backgroundImage]="'url(' + card.src + ')'"></div>
	</div>
</div>

<div class="player" *ngFor="let player of game.players">

	<div class="card" *ngFor="let card of player.hand" [style.backgroundImage]="'url(' + card.src + ')'"></div>

	pair: {{ player.pair }}
	<br>
	flush: {{ player.flush }}
	<br>
	twopair: {{ player.twopair }}
	<br>
	straight: {{ player.straight }}
	<br>
	highcard: {{ player.highcard }}
	<br>
	fullhouse: {{ player.fullhouse }}
	<br>
	royalflush: {{ player.royalflush }}
	<br>
	fourofakind: {{ player.fourofakind }}
	<br>
	threeofakind: {{ player.threeofakind }}
	<br>
	straightflush: {{ player.straightflush }}
	<br>
</div>

<button (click)="game.turn()" *ngIf="game.stage == 1">
	see turn
</button>

<button (click)="game.river()" *ngIf="game.stage == 2">
	see river
</button>

<button (click)="game.reset()" *ngIf="game.stage == 3">
	reset
</button>