<div class="table">
	<div class="board">
		<div class="card" *ngFor="let card of game.board" [style.backgroundImage]="'url(' + card.src + ')'"></div>
	</div>
</div>

<div class="players">
	<div class="player" *ngFor="let player of game.players" [class.winner]="winner(player.id)">
		<div class="card" *ngFor="let card of player.hand" [style.backgroundImage]="'url(' + card.src + ')'"></div>
	</div>
</div>

<button (click)="game.turn()" *ngIf="game.stage == 1">
	see turn
</button>

<button (click)="game.river()" *ngIf="game.stage == 2">
	see river
</button>

<button (click)="game.reset()" *ngIf="game.stage == 3">
	reset
</button>